.caption {
  font-family: "Raleway", "Arial", monospace;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.67;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 1199px) {
  .caption {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .caption {
    font-size: 20px;
  }
}
