.caption {
  position: relative;

  font-family: "Raleway", "Arial", monospace;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.67;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 298px;
    height: 2px;
    width: 867px;

    background-color: #000000;
  }
}

@media (max-width: 1199px) {
  .caption {
    font-size: 26px;

    &::after {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .caption {
    font-size: 20px;
  }
}
