.container {
  width: 1172px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199px) {
  .container {
    width: 724px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 280px;
  }
}
