.footer-nav__caption {
  margin: 0;

  font-family: "Roboto", "Arial", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.38;
  color: #FFFFFF;
}

.footer__social-link {
  cursor: pointer;

  &:hover svg {
    fill: #FFFFFF;
  }
}

.footer-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

@media (max-width: 1199px) {
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-nav__caption {
    margin-right: 51px;
  }

  .footer-nav__list {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-nav__item {
    margin-right: 37px;

    &--project {
      margin-right: 31px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .footer-nav__link {
    display: block;

    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .footer-nav__caption {
    font-size: 12px;
    line-height: 1;

    opacity: 0.6;
  }
}

@media (max-width: 767px) {
  .footer-nav__caption {
    display: none;
  }

  .footer-nav__list {
    margin: 0;
    display: block;
    width: 100%;
  }

  .footer-nav__item {
    margin: 0;
    border-bottom: 1px solid #626262;
  }

  .footer-nav__link {
    padding: 19px 0 16px 0;
    font-size: 14px;
  }
}
