.footer {
  position: relative;
  padding-top: 57px;

  background-color: #000000;
}

.footer__tablet-row {
  order: 1;
}

.footer__up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__dowm {
  padding-bottom: 33px;
  margin-top: 186px;
}

.footer__dowm-text {
  letter-spacing: 0.4px;
}

.footer__logo {
  margin-top: 6px;
}

.footer__nav {
  margin-top: 38px;
}

.footer__contact-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--mobile {
    display: none;
  }
}

.footer__contact-item {
  &--mail {
    margin-top: 38px;
  }

  &--tel {
    margin-top: 36px;
  }
}

.footer__contact-link {
  display: block;
  position: relative;

  text-decoration: none;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.footer__contact-text {
  margin: 0;
  width: 170px;

  font-family: "Roboto", "Arial", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #FFFFFF;

  &--time {
    font-size: 13px;
    line-height: 1;
  }
}

.footer__contact-svg {
  position: absolute;

  left: -30px;
  top: 6px;
  fill: #36a79b;

  &--address {
    width: 12px;
    height: 15px;
  }

  &--mail {
    width: 16px;
    height: 11px;
    top: 9px;
  }

  &--tel {
    width: 13px;
    height: 12px;
  }
}

.footer__social-list {
  list-style: none;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__social-item {
  margin-right: 28px;
}

.footer__social-svg {
  display: block;
  fill: #666666;
  height: 33px;

  &--vk {
    width: 40px;
  }

  &--twitter {
    width: 25px;
  }

  &--fb {
    width: 25px;
    height: 30px;
  }
}

.footer__dowm-text {
  font-family: "Roboto", "Arial", monospace;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;

  opacity: 0.6;
}

@media (max-width: 1199px) {
  .footer {
    padding-top: 25px;
  }

  .footer__logo {
    display: none;
  }

  .footer__up {
    display: block;
  }

  .footer__tablet-row {
    display: flex;
    justify-content: flex-end;
  }

  .footer__nav {
    margin: 0;
  }

  .footer__column {
    margin-top: 101px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__contact-text {
    margin: 0;
    width: 170px;

    font-family: "Roboto", "Arial", monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;

    &--mail {
      font-weight: 700;
    }

    &--tel {
      line-height: 1.7;
    }

    &--time {
      font-size: 12px;
      line-height: 1.5;
    }
  }

  .footer__contact-list {
    /*margin-right: 28px;*/
    width: 157px;
  }

  .footer__social-list {
    margin: 0;
  }

  .footer__social-item {
    margin: 0;
    margin-left: 13px;

    &--twitter {
      margin-top: 2px;
      margin-left: 15px;
    }

    &--fb {
      margin-top: 2px;
    }
  }

  .footer__social-svg {
    display: block;
    fill: #666666;

    &--vk {
      width: 25px;
      height: 23px;
    }

    &--twitter {
      width: 18px;
      height: 18px;
    }

    &--fb {
      width: 17px;
      height: 16px;
    }
  }

  .footer__dowm {
    margin-top: 26px;

    border-top : 1px solid #1a1a1a;
  }

  .footer__dowm-text {
    margin: 0;
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 18px;
  }

  .footer__tablet-row {
    display: block;
  }

  .footer__contact-list {
    margin-left: 76px;
    opacity: 0.6;

    &--mobile {
      margin: 16px 0 0 30px;
      display: block;
    }
  }

  .footer__contact-text {
    line-height: 1.45;

    &--mobile {
      line-height: 2;
    }
  }

  .footer__contact-item {
    &--mail {
      margin-top: 11px;
      font-weight: 400;
    }

    &--tel {
      margin-top: 13px;
    }

    &--mail-mobile {
      margin-top: 20px;
    }

    &--tel-mobile {
      margin-top: 24px;
    }
  }

  .footer__contact-svg {
    top: 2px;
  }

  .footer__form {
    margin-top: 20px;
  }

  .footer__column {
    margin: 0;
    padding-bottom: 40px;
    display: block;

    background-color: #1a1a1a;
  }

  .footer__dowm {
    margin: 0;
    padding-bottom: 16px;

    border: none;
  }

  .footer__dowm-text {
    margin: 15px 38px 0px;
  }

  .footer__social-list {
    margin-top: 30px;
  }

  .footer__social-item {
    margin: 0;
    margin-right: 33px;

    &--twitter {
      margin-top: 5px;
      margin-right: 24px;
    }

    &--fb {
      margin-top: 5px;
    }
  }

  .footer__social-svg {
    &--vk {
      width: 40px;
      height: 40px;
    }

    &--twitter {
      width: 30px;
      height: 30px;
    }

    &--fb {
      width: 34px;
      height: 30px;
    }
  }
}
