.webp .main-screen {
  background-image: url("../img/fon.webp");
}

.no-webp .main-screen {
  background-image: url("../img/fon.jpg");
}

.main-screen {
  padding-top: 153px;
  padding-bottom: 82px;
  background-size: cover;
}

.main-screen__caption {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  font-family: "Raleway", "Arial", monospace;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.16;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-screen__text {
  margin: 0;
  padding: 0;
  width: 1020px;

  font-family: "Roboto", "Arial", monospace;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.62;
  letter-spacing: 0.2px;
  color: #FFFFFF;

  &--mobile-up {
    display: none;
  }

  &--mobile-down {
    display: none;
  }
}

.main-screen__year {
  color: #00ffd8;
}

.main-screen__link-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 53px;
  padding: 0;
}

.main-screen__link-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 57px;

  font-family: "Roboto", "Arial", monospace;
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid #00ffd7;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.main-screen__link-nav--services {
  margin-right: 20px;

  color: #000000;

  background-color: #00ffd7;
  border: none;

  &:hover {
    opacity: 1;
    box-shadow: 3px 3px 3px 3px #00ffd7;
  }
}

.main-screen__list {
  margin: 0;
  margin-top: 119px;
  margin-right: 20px;
  padding: 0;
}

@media (max-width: 1199px) {
  .main-screen {
    padding: 0;
  }

  .webp .main-screen {
    background-image: none;
  }

  .no-webp .main-screen {
    background-image: none;
  }

  .main-screen__up {
    background-position: 50%;
  }

  .webp .main-screen__up {
    background-image: url("../img/fon.webp");
  }

  .no-webp .main-screen__up {
    background-image: url("../img/fon.jpg");
  }

  .main-screen__up {
    padding-top: 127px;
    padding-bottom: 130px;
    background-size: cover;
  }

  .main-screen__caption {
    margin-left: 61px;
    margin-bottom: 22px;
    font-size: 38px;
    line-height: 1.14;
    letter-spacing: 1.9px;
  }

  .main-screen__text {
    margin-left: 61px;
    width: 590px;

    font-family: "Roboto", "Arial", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: normal;
  }

  .main-screen__link-nav {
    font-size: 16px;
  }

  .main-screen__link-list {
    margin-left: 61px;
    margin-top: 83px;
  }

  .main-screen__link-nav {
    width: 290px;
  }

  .main-screen__list {
    align-items: center;

    margin: 0;
    margin-top: 70px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 767px) {
  .main-screen__up {
    background-position: 70%;
  }

  .main-screen__caption {
    margin: 0;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1px;
  }

  .main-screen__list {
    margin: 0;
    margin-top: 40px;
  }

  .main-screen__up {
    padding-bottom: 53px;
  }

  .main-screen__link-list {
    display: block;
    margin: 0;
    margin-top: 60px;
  }

  .main-screen__link-nav {
    width: 100%;
  }

  .main-screen__link-item:first-child {
    margin-bottom: 14px;
  }

  .main-screen__text {
    display: none;

    &--mobile-up {
      display: block;
      margin: 0;
      width: auto;

      text-align: center;
      letter-spacing: 0.9px;
    }

    &--mobile-down {
      display: block;
      margin: 0;
      margin-left: 3px;
      margin-top: 36px;
      width: auto;

      font-family: "Roboto","Arial",monospace;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.1px;
      color: #000000;
    }
  }

  .main-screen__year--mobile-down {
    color: #000000;
  }
}
